* {
  background: transparent;
  border: 0;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  color: inherit;
  cursor: inherit;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: normal;
  margin: 0;
  outline: 0;
  padding: 0;
  text-decoration: none;
  text-indent: 0;
  vertical-align: baseline; }
  *:focus {
    outline: 0; }

html,
body {
  cursor: default;
  font-style: normal;
  text-align: center;
  line-height: 1; }

ol,
ul {
  list-style: none; }

q,
blockquote {
  quotes: none; }

q:after,
q:before,
blockquote:after,
blockquote:before {
  content: "";
  content: none; }

i,
i * {
  font-style: italic; }

b,
b * {
  font-weight: bold; }

hr {
  height: 0;
  visibility: hidden; }

del,
del * {
  text-decoration: line-through; }

img {
  cursor: default; }

input,
textarea {
  cursor: text; }

a,
a *,
label[for],
button,
button *,
input[type=radio],
input[type=checkbox],
input[type=submit],
input[type=button],
input[type=image] {
  cursor: pointer; }

input[type=text],
input[type=password] {
  cursor: text; }

button::-moz-focus-inner {
  border: 0;
  padding: 0; }

hr, br {
  clear: both; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  vertical-align: top; }

@font-face {
  font-family: "DinRegularAlternate";
  src: url("/fonts/din-regular-alternate.eot");
  src: url("/fonts/din-regular-alternate.eot?#iefix") format("embedded-opentype"), url("/fonts/din-regular-alternate.woff") format("woff"), url("/fonts/din-regular-alternate.ttf") format("truetype"), url("/fonts/din-regular-alternate.svg#DinRegularAlternate") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "DiavloLight";
  src: url("/fonts/diavlo-light.eot");
  src: url("/fonts/diavlo-light.eot?#iefix") format("embedded-opentype"), url("/fonts/diavlo-light.woff") format("woff"), url("/fonts/diavlo-light.ttf") format("truetype"), url("/fonts/diavlo-light.svg#DiavloLight") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  background: #222222;
  font: 16px DinRegularAlternate, sans-serif; }

h1, h2, h3 {
  font-family: DiavloLight, sans-serif; }

menu {
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 5; }
  menu button {
    background: center center no-repeat #444444;
    -moz-border-radius: 40px;
    -o-border-radius: 40px;
    -webkit-border-radius: 40px;
    border-radius: 40px;
    -moz-box-shadow: 0 0 10px black;
    -webkit-box-shadow: 0 0 10px black;
    box-shadow: 0 0 10px black;
    display: block;
    height: 80px;
    margin: 0 0 10px;
    overflow: hidden;
    text-indent: -500px;
    -moz-transition: background 0.2s linear;
    -o-transition: background 0.2s linear;
    -webkit-transition: background 0.2s linear;
    transition: background 0.2s linear;
    width: 80px; }
    menu button.settings {
      background-image: url(/img/icon-gear.png); }
    menu button.attacks {
      background-image: url(/img/icon-sword.png); }
    menu button:hover {
      background-color: #999999; }

#chat {
  bottom: 395px;
  left: 0;
  overflow: hidden;
  position: fixed;
  text-align: left;
  top: 0;
  width: 33%;
  z-index: 3; }
  #chat .chat {
    bottom: 60px;
    left: 0;
    position: absolute;
    right: 10px; }
  #chat .message {
    list-style: none;
    margin: 10px 0 0 10px;
    padding: 0 0 0 55px;
    position: relative; }
    #chat .message .userImage {
      background: black;
      -moz-border-radius: 20px;
      -o-border-radius: 20px;
      -webkit-border-radius: 20px;
      border-radius: 20px;
      -moz-box-shadow: 0 0 3px black;
      -webkit-box-shadow: 0 0 3px black;
      box-shadow: 0 0 3px black;
      height: 40px;
      left: 0;
      position: absolute;
      top: 0;
      width: 40px; }
      #chat .message .userImage img {
        -moz-border-radius: 20px;
        -o-border-radius: 20px;
        -webkit-border-radius: 20px;
        border-radius: 20px;
        display: block;
        height: 40px;
        width: 40px; }
    #chat .message q {
      background: #555555;
      -moz-border-radius: 5px;
      -o-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      color: #cccccc;
      display: inline-block;
      line-height: 20px;
      padding: 10px 15px;
      position: relative; }
      #chat .message q:before {
        border: 8px solid transparent;
        border-right-color: #555555;
        content: "";
        height: 0;
        position: absolute;
        right: 100%;
        top: 12px;
        width: 0; }
  #chat textarea {
    background: #333333;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    bottom: 10px;
    color: black;
    height: 20px;
    line-height: 20px;
    padding: 10px 15px;
    left: 10px;
    position: absolute;
    right: 10px;
    -moz-transition: background 0.2s linear;
    -o-transition: background 0.2s linear;
    -webkit-transition: background 0.2s linear;
    transition: background 0.2s linear; }
    #chat textarea:focus {
      background: #444444;
      color: #cccccc; }

#people {
  background: url(/img/carbon_fibre.png) top center repeat #282828;
  bottom: 0;
  height: 385px;
  left: 0;
  position: fixed;
  right: 0;
  text-align: center;
  z-index: 2; }
  #people:before {
    background: url(/img/carbon_fibre_edge.png) top center repeat-x;
    content: "";
    height: 50px;
    left: 0;
    position: absolute;
    right: 0;
    top: -38px;
    z-index: 1; }
  #people .member {
    background: url(/img/ring.png) 50% 42px no-repeat;
    color: #777777;
    display: inline-block;
    list-style: none;
    margin: 0 20px;
    padding: 60px 60px 40px;
    position: relative;
    z-index: 2; }
    #people .member:before {
      background: url(/img/keystone.png) 0 0 no-repeat;
      content: "";
      height: 46px;
      left: 50%;
      margin: 0 0 0 -60px;
      position: absolute;
      top: 22px;
      width: 120px;
      z-index: 3; }
    #people .member .userImage {
      background: black;
      -moz-border-radius: 90px;
      -o-border-radius: 90px;
      -webkit-border-radius: 90px;
      border-radius: 90px;
      -moz-box-shadow: 0 0 60px black;
      -webkit-box-shadow: 0 0 60px black;
      box-shadow: 0 0 60px black;
      height: 180px;
      position: relative;
      width: 180px;
      z-index: 4; }
      #people .member .userImage img {
        -moz-border-radius: 90px;
        -o-border-radius: 90px;
        -webkit-border-radius: 90px;
        border-radius: 90px;
        display: block;
        height: 180px;
        width: 180px; }
    #people .member h2 {
      color: #cccccc;
      font-size: 30px;
      height: 50px;
      line-height: 30px;
      padding: 10px 0; }
      #people .member h2:after {
        display: block;
        font-size: 15px;
        height: 15px;
        line-height: 15px;
        padding: 5px 0 0;
        color: #444444;
        content: "\2022\00A0\2022\00A0\2022"; }
    #people .member .stats {
      font-size: 20px;
      line-height: 20px; }
    #people .member .name {
      font-size: 15px;
      line-height: 15px; }
    #people .member .activeTask {
      display: none; }
    #people .member .healthPerc {
      background: url(/img/health-bar.png) 0 0 no-repeat;
      color: #d63c31;
      height: 280px;
      left: 2px;
      position: absolute;
      top: 11px;
      width: 150px; }
      #people .member .healthPerc .mask {
        background: url(/img/ring.png) 0 0 no-repeat;
        display: block;
        height: 160px;
        left: 47px;
        position: absolute;
        top: 32px;
        width: 101px; }
      #people .member .healthPerc .label {
        font-size: 20px;
        height: 20px;
        line-height: 20px;
        margin: 22px 0 0;
        position: absolute;
        right: 110px; }
        #people .member .healthPerc .label:before {
          border-top: 1px solid #d63c31;
          content: "";
          height: 0;
          left: 100%;
          margin: 0 0 0 3px;
          position: absolute;
          right: -56px;
          top: 50%;
          z-index: 1; }
    #people .member .attackPerc {
      background: 0 0 no-repeat;
      height: 280px;
      position: absolute;
      right: 2px;
      top: 11px;
      width: 150px; }
      #people .member .attackPerc .mask {
        background: url(/img/ring.png) 100% 0 no-repeat;
        display: block;
        height: 160px;
        position: absolute;
        right: 47px;
        top: 32px;
        width: 101px; }
      #people .member .attackPerc .label {
        font-size: 20px;
        height: 20px;
        left: 110px;
        line-height: 20px;
        margin: 22px 0 0;
        position: absolute; }
        #people .member .attackPerc .label:before {
          border-top: 1px solid;
          content: "";
          height: 0;
          left: -56px;
          margin: 0 0 0 3px;
          position: absolute;
          right: 100%;
          top: 50%;
          z-index: 1; }
      #people .member .attackPerc.wizard {
        background-image: url(/img/attack-bar-wizard.png);
        color: #875ead; }
        #people .member .attackPerc.wizard .label:before {
          border-color: #875ead; }
      #people .member .attackPerc.fighter {
        background-image: url(/img/attack-bar-fighter.png);
        color: #a29422; }
        #people .member .attackPerc.fighter .label:before {
          border-color: #a29422; }
      #people .member .attackPerc.ranger {
        background-image: url(/img/attack-bar-ranger.png);
        color: #3a9029; }
        #people .member .attackPerc.ranger .label:before {
          border-color: #3a9029; }
      #people .member .attackPerc.cleric {
        background-image: url(/img/attack-bar-cleric.png);
        color: #1583c2; }
        #people .member .attackPerc.cleric .label:before {
          border-color: #1583c2; }

#mask {
  background: rgba(80, 80, 80, 0.9);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 99; }

body > .modal {
  background: #eeeeee;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  -moz-box-shadow: 0 0 200px black;
  -webkit-box-shadow: 0 0 200px black;
  box-shadow: 0 0 200px black;
  color: #777777;
  left: 50%;
  margin: -120px 0 0 -220px;
  padding: 50px 50px 100px;
  position: fixed;
  text-align: left;
  top: 50%;
  width: 340px;
  z-index: 100; }
  body > .modal.settings {
    margin-top: -210px; }
  body > .modal h1 {
    color: black;
    font: 30px DiavloLight, sans-serif;
    padding: 0 0 20px; }
  body > .modal p {
    font-size: 16px;
    padding: 0 0 20px; }
  body > .modal .actions {
    bottom: 30px;
    position: absolute;
    right: 30px; }
    body > .modal .actions button {
      background: -moz-linear-gradient(top, #444444, #111111) ;
      background: -webkit-gradient(linear, left top, left bottom, from(#444444), to(#111111)) ;
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#444444, endColorstr=#111111)";
      -moz-border-radius: 5px;
      -o-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      color: #cccccc;
      height: 40px;
      line-height: 40px;
      margin-left: 10px;
      padding: 0 20px;
      text-transform: capitalize; }
      body > .modal .actions button:hover {
        background: -moz-linear-gradient(top, #555555, #222222) ;
        background: -webkit-gradient(linear, left top, left bottom, from(#555555), to(#222222)) ;
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#555555, endColorstr=#222222)";
        color: white; }
      body > .modal .actions button:last-child {
        background: -moz-linear-gradient(top, #408034, #305a28) ;
        background: -webkit-gradient(linear, left top, left bottom, from(#408034), to(#305a28)) ;
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#408034, endColorstr=#305a28)";
        color: #c7e9c1; }
        body > .modal .actions button:last-child:hover {
          background: -moz-linear-gradient(top, #52a643, #408034) ;
          background: -webkit-gradient(linear, left top, left bottom, from(#52a643), to(#408034)) ;
          -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#52a643, endColorstr=#408034)";
          color: white; }
  body > .modal label {
    clear: both;
    display: block;
    float: left;
    margin: 15px 0 5px; }
  body > .modal input[type="text"],
  body > .modal select {
    background: white;
    border: 1px solid #dddddd;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    clear: both;
    display: block;
    float: left;
    padding: 10px; }
  body > .modal input[type="text"] {
    display: block;
    width: 100%; }
