* {
  background: transparent;
  border: 0;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  color: inherit;
  cursor: inherit;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: normal;
  margin: 0;
  outline: 0;
  padding: 0;
  text-decoration: none;
  text-indent: 0;
  vertical-align: baseline; }
  *:focus {
    outline: 0; }

html,
body {
  cursor: default;
  font-style: normal;
  text-align: center;
  line-height: 1; }

ol,
ul {
  list-style: none; }

q,
blockquote {
  quotes: none; }

q:after,
q:before,
blockquote:after,
blockquote:before {
  content: "";
  content: none; }

i,
i * {
  font-style: italic; }

b,
b * {
  font-weight: bold; }

hr {
  height: 0;
  visibility: hidden; }

del,
del * {
  text-decoration: line-through; }

img {
  cursor: default; }

input,
textarea {
  cursor: text; }

a,
a *,
label[for],
button,
button *,
input[type=radio],
input[type=checkbox],
input[type=submit],
input[type=button],
input[type=image] {
  cursor: pointer; }

input[type=text],
input[type=password] {
  cursor: text; }

button::-moz-focus-inner {
  border: 0;
  padding: 0; }

hr, br {
  clear: both; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  vertical-align: top; }

@font-face {
  font-family: "DinRegularAlternate";
  src: url("/fonts/din-regular-alternate.eot");
  src: url("/fonts/din-regular-alternate.eot?#iefix") format("embedded-opentype"), url("/fonts/din-regular-alternate.woff") format("woff"), url("/fonts/din-regular-alternate.ttf") format("truetype"), url("/fonts/din-regular-alternate.svg#DinRegularAlternate") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "DiavloLight";
  src: url("/fonts/diavlo-light.eot");
  src: url("/fonts/diavlo-light.eot?#iefix") format("embedded-opentype"), url("/fonts/diavlo-light.woff") format("woff"), url("/fonts/diavlo-light.ttf") format("truetype"), url("/fonts/diavlo-light.svg#DiavloLight") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  background: #222222;
  font: 16px DinRegularAlternate, sans-serif; }

h1, h2, h3 {
  font-family: DiavloLight, sans-serif; }

#people {
  background: url(/img/carbon_fibre.png) top center repeat #282828;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  text-align: center; }
  #people:before {
    background: url(/img/carbon_fibre_edge.png) top center repeat-x;
    content: "";
    height: 50px;
    left: 0;
    position: absolute;
    right: 0;
    top: -38px;
    z-index: 1; }
  #people .member {
    background: url(/img/ring.png) 50% 42px no-repeat;
    color: #777777;
    display: inline-block;
    margin: 0 20px;
    padding: 60px;
    position: relative;
    z-index: 2; }
    #people .member:before {
      background: url(/img/keystone.png) 0 0 no-repeat;
      content: "";
      height: 46px;
      left: 50%;
      margin: 0 0 0 -60px;
      position: absolute;
      top: 22px;
      width: 120px;
      z-index: 3; }
    #people .member .userImage {
      background: black;
      -moz-border-radius: 90px;
      -o-border-radius: 90px;
      -webkit-border-radius: 90px;
      border-radius: 90px;
      -moz-box-shadow: 0 0 60px black;
      -webkit-box-shadow: 0 0 60px black;
      box-shadow: 0 0 60px black;
      height: 180px;
      width: 180px; }
      #people .member .userImage img {
        -moz-border-radius: 90px;
        -o-border-radius: 90px;
        -webkit-border-radius: 90px;
        border-radius: 90px;
        display: block;
        height: 180px;
        width: 180px; }
    #people .member h2 {
      color: #cccccc;
      font-size: 30px;
      height: 45px;
      line-height: 30px;
      padding: 10px 0; }
      #people .member h2:after {
        display: block;
        font-size: 15px;
        height: 15px;
        line-height: 15px;
        color: #444444;
        content: "\2022\00A0\2022\00A0\2022"; }
    #people .member .stats {
      font-size: 20px;
      line-height: 20px; }
    #people .member .name {
      font-size: 15px;
      line-height: 15px; }
    #people .member .activeTask {
      display: none; }
    #people .member .healthPerc {
      background: url(/img/health-bar.png) 0 0 no-repeat;
      color: #d63c31;
      height: 280px;
      left: 2px;
      position: absolute;
      top: 11px;
      width: 150px; }
      #people .member .healthPerc .mask {
        background: url(/img/ring.png) 0 0 no-repeat;
        display: block;
        height: 160px;
        left: 47px;
        position: absolute;
        top: 32px;
        width: 101px; }
      #people .member .healthPerc .label {
        font-size: 20px;
        height: 20px;
        line-height: 20px;
        margin: 22px 0 0;
        position: absolute;
        right: 110px; }
        #people .member .healthPerc .label:after {
          content: "%"; }
    #people .member .attackPerc {
      background: 0 0 no-repeat;
      height: 280px;
      position: absolute;
      right: 2px;
      top: 11px;
      width: 150px; }
      #people .member .attackPerc.wizard {
        background-image: url(/img/attack-bar-wizard.png);
        color: #875ead; }
      #people .member .attackPerc.fighter {
        background-image: url(/img/attack-bar-fighter.png);
        color: #a29422; }
      #people .member .attackPerc.ranger {
        background-image: url(/img/attack-bar-ranger.png);
        color: #3a9029; }
      #people .member .attackPerc.cleric {
        background-image: url(/img/attack-bar-cleric.png);
        color: #1583c2; }
      #people .member .attackPerc .mask {
        background: url(/img/ring.png) 100% 0 no-repeat;
        display: block;
        height: 160px;
        position: absolute;
        right: 47px;
        top: 32px;
        width: 101px; }
      #people .member .attackPerc .label {
        font-size: 20px;
        height: 20px;
        left: 110px;
        line-height: 20px;
        margin: 22px 0 0;
        position: absolute; }
        #people .member .attackPerc .label:after {
          content: "%"; }
