@import mixins
@import reset
@import fonts

body
  background: #222
  font: 16px DinRegularAlternate, sans-serif

h1, h2, h3
  font-family: DiavloLight, sans-serif

menu
  position: fixed
  right: 10px
  top: 10px
  z-index: 5
  button
    background: center center no-repeat #444
    +border_radius(40)
    +box_shadow(0 0 10px #000)
    display: block
    height: 80px
    margin: 0 0 10px
    overflow: hidden
    text-indent: -500px
    +transition(background .2s linear)
    width: 80px
    &.settings
      background-image: url(/img/icon-gear.png)
    &.attacks
      background-image: url(/img/icon-sword.png)
    &:hover
      background-color: #999

#chat
  bottom: 395px
  left: 0
  overflow: hidden
  position: fixed
  text-align: left
  top: 0
  width: 33%
  z-index: 3
  .chat
    bottom: 60px
    left: 0
    position: absolute
    right: 10px
  .message
    list-style: none
    margin: 10px 0 0 10px 
    padding: 0 0 0 55px
    position: relative
    .userImage
      background: #000
      +border_radius(20)
      +box_shadow(0 0 3px #000)
      height: 40px
      left: 0
      position: absolute
      top: 0
      width: 40px
      img
        +border_radius(20)
        display: block
        height: 40px
        width: 40px
    q
      background: #555
      +border_radius(5)
      color: #ccc
      display: inline-block
      line-height: 20px
      padding: 10px 15px
      position: relative
      &:before
        border: 8px solid transparent
        border-right-color: #555
        content: ''
        height: 0
        position: absolute
        right: 100%
        top: 12px
        width: 0
  textarea
    background: #333
    +border_radius(5)
    bottom: 10px
    color: #000
    height: 20px
    line-height: 20px
    padding: 10px 15px
    left: 10px
    position: absolute
    right: 10px
    +transition(background .2s linear)
    &:focus
      background: #444
      color: #ccc

#people
  background: url(/img/carbon_fibre.png) top center repeat #282828
  bottom: 0
  height: 385px
  left: 0
  position: fixed
  right: 0
  text-align: center
  z-index: 2
  &:before
    background: url(/img/carbon_fibre_edge.png) top center repeat-x
    content: ''
    height: 50px
    left: 0
    position: absolute
    right: 0
    top: -38px
    z-index: 1

#boss
  left: 50%
  margin: 0 0 0 -170px
  position: absolute

#boss .boss,
#people .member
  background: url(/img/ring.png) 50% 42px no-repeat
  color: #777
  display: inline-block
  list-style: none
  margin: 0 20px
  padding: 60px 60px 40px
  position: relative
  width: 180px
  z-index: 2
  &:before
    background: url(/img/keystone.png) 0 0 no-repeat
    content: ''
    height: 46px
    left: 50%
    margin: 0 0 0 -60px
    position: absolute
    top: 22px
    width: 120px
    z-index: 3
  .userImage
    background: #000
    +border_radius(90)
    +box_shadow(0 0 60px #000)
    height: 180px
    position: relative
    width: 180px
    z-index: 4
    img
      +border_radius(90)
      display: block
      height: 180px
      width: 180px
  h2
    color: #ccc
    font-size: 30px
    height: 50px
    line-height: 30px
    padding: 10px 0
    &:after
      display: block
      font-size: 15px
      height: 15px
      line-height: 15px
      padding: 5px 0 0
      color: #444
      content: '\2022\00A0\2022\00A0\2022'
  .stats
    font-size: 20px
    line-height: 20px
  .name
    font-size: 15px
    line-height: 15px
  .activeTask
    display: none
  .healthPerc
    background: url(/img/health-bar.png) 0 0 no-repeat
    color: #d63c31
    height: 280px
    left: 2px
    position: absolute
    top: 11px
    width: 150px
    .mask
      background: url(/img/ring.png) 0 0 no-repeat
      display: block
      height: 160px
      left: 47px
      position: absolute
      top: 32px
      width: 101px
    .label
      font-size: 20px
      height: 20px
      line-height: 20px
      margin: 22px 0 0
      position: absolute
      right: 110px
      &:before
        border-top: 1px solid #d63c31
        content: ''
        height: 0
        left: 100%
        margin: 0 0 0 3px
        position: absolute
        right: -56px
        top: 50%
        z-index: 1
  .attackPerc
    background: 0 0 no-repeat
    height: 280px
    position: absolute
    right: 2px
    top: 11px
    width: 150px
    .mask
      background: url(/img/ring.png) 100% 0 no-repeat
      display: block
      height: 160px
      position: absolute
      right: 47px
      top: 32px
      width: 101px
    .label
      font-size: 20px
      height: 20px
      left: 110px
      line-height: 20px
      margin: 22px 0 0
      position: absolute
      &:before
        border-top: 1px solid
        content: ''
        height: 0
        left: -56px
        margin: 0 0 0 3px
        position: absolute
        right: 100%
        top: 50%
        z-index: 1
    &.wizard
      background-image: url(/img/attack-bar-wizard.png)
      color: #875ead
      .label:before
        border-color: #875ead
    &.fighter
      background-image: url(/img/attack-bar-fighter.png)
      color: #a29422
      .label:before
        border-color: #a29422
    &.ranger
      background-image: url(/img/attack-bar-ranger.png)
      color: #3a9029
      .label:before
        border-color: #3a9029
    &.cleric
      background-image: url(/img/attack-bar-cleric.png)
      color: #1583c2
      .label:before
        border-color: #1583c2

#mask
  background: rgba(80,80,80,.9)
  bottom: 0
  left: 0
  position: fixed
  right: 0
  top: 0
  z-index: 99

body > .modal
  background: #eee
  +border_radius(8)
  +box_shadow(0 0 200px #000)
  color: #777
  left: 50%
  margin: -120px 0 0 -220px
  padding: 50px 50px 100px
  position: fixed
  text-align: left
  top: 50%
  width: 340px
  z-index: 100
  &.settings
    margin-top: -210px
  h1
    color: #000
    font: 30px DiavloLight, sans-serif
    padding: 0 0 20px
  p
    font-size: 16px
    padding: 0 0 20px
  .actions
    bottom: 30px
    position: absolute
    right: 30px
    button
      +bg_gradient(#444,#111)
      +border_radius(5)
      color: #ccc
      height: 40px
      line-height: 40px
      margin-left: 10px
      padding: 0 20px
      text-transform: capitalize
      &:hover
        +bg_gradient(#555,#222)
        color: #fff
      &:last-child
        +bg_gradient(#408034,#305A28)
        color: #c7e9c1
        &:hover
          +bg_gradient(#52A643,#408034)
          color: #fff
  label
    clear: both
    display: block
    float: left
    margin: 15px 0 5px
  input[type="text"],
  select
    background: #fff
    border: 1px solid #ddd
    +border_radius(5)
    +box_sizing(border-box)
    clear: both
    display: block
    float: left
    padding: 10px
  input[type="text"]
    display: block
    width: 100%