.boss
  .userImage
    img(src="http://robohash.org/#{locals.teamname}.png?bgset=bg2&set=set2&size=180x180")
  h2 #{locals.teamname}
  .stats 36 - Fighter
  .name Menacing Projects
  .healthPerc
    .label #{locals.healthPerc || 0}%
    .mask
  .attackPerc.fighter
    .label #{locals.attackPerc || 0}%
    .mask
