.boss
  .userImage
    img(src="/img/boss-vegeta.jpg")
  h2 Super Sayan
  .stats 36 - Fighter
  .name Menacing Projects
  .healthPerc
    .label #{locals.healthPerc || 0}%
    .mask
  .attackPerc.fighter
    .label #{locals.attackPerc || 0}%
    .mask