.well.member
  .userImage
    img(src= locals.member.picUrl() + '?s=180')
  h2 Monsterparts
  .stats 29 - Wizard
  .name= locals.member.fullName()
  .activeTask= (locals.activeTaskTitle || '')
  .healthPerc
    .label #{locals.healthPerc || 0}%
    .mask
  .attackPerc.wizard
    .label #{locals.attackPerc || 0}%
    .mask